<div style="margin: 0 auto; width: 75%; margin-top: 200px">
    <table style="border-collapse: collapse; border-style: solid; border-color: black; border-width: 1px; text-align: center; width: 100%; font-size: xx-large">
        <thead style="background-color: black; color: white;">
            <td>Person name</td>
            <td>Person surname</td>
            <td>Person age</td>
            <td>UUID</td>
        </thead>
        <tbody>
            <tr>
                <td>{{ name }}</td>
                <td>{{ surname }}</td>
                <td>{{ age }}</td>
                <td>{{ uuid }}</td>
            </tr>
        </tbody>
    </table>
</div>